---
BasedOnStyle: LLVM
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Linux
ColumnLimit: '120'
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '1'
PointerAlignment: Right
SortIncludes: 'false'
TabWidth: '4'
UseTab: Never
AlignConsecutiveMacros: 'true'
...
