name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: prepare
      run: sudo apt-get install gcc-arm-none-eabi
    - name: make
      run: make -j6
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: binaries
        path: build/h7-boot.*
